body::before {
    display: block;
    content: '';
    height: 60px;
    font-family: 'Times New Roman', Times, serif !important;
  }

  * {
    font-family: 'Times New Roman', Times, serif !important;
  }
  
  html {
    scroll-padding-top: 100px;
  }
  
  @media (min-width: 768px) {
    .img-fluid {
      max-width: 30vw;
    }
  }